<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pairwise Alignment</title>
</head>
<body>
    <h1>Pairwise Alignment</h1>
    <form action="/pairwise_alignment" method="post">
        {{ form.hidden_tag() }}
        {{ form.seq_id1.label }}
        {{ form.seq_id1 }}
        {{ form.seq_id2.label }}
        {{ form.seq_id2 }}
        {{ form.submit }}
    </form>
    <a href="{{ url_for('back_to_dataframe') }}">Back to DataFrame</a>
</body>
</html>